@charset "UTFT-8";

/*Celulares: até 600px
Tablets: 768px até 992px
Desktops: 992px até 1200px
Grandes telas (TVs): acima de 1200px
Configuração de Media Queries:*/

@media print {
    /*Impressão*/

    * {
        font-family: 'Courier New', Courier, monospace;
    }

    main {
        width: 90vw;
        border: 2px solid black;
    }

    main::after {
        content: 'Essa impressão foi feita através do site www.cursoemvideo.com ';
        text-decoration: overline;
    }

@media screen and (min-width: 992px){
    span#burguer{
        display: none;
    }

    nav{
        display: block;
    }

    nav > ul > li{
        display: inline-block;
        
    }

    main{
        width: 807px ;
    }
} }