@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body{
    background-image: linear-gradient(to right, #F2FBE0, #DAFEB7 );
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #00250088;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color:#BC2C1A;
    text-align: center;
    text-shadow: 1px 1px 2px #a52818a8;
}

h2{
    color: #32922F;
}

p{
    text-align: justify;
}